
<style type="text/css">
	.block {
       width: 100%px;
       min-height: 100px;
       height: fit-content;
       /*max-height: 150px;*/
       border-radius: 10px ;
       padding: 10px;
       color: #595959; 
       margin-bottom: 20px;
       /*margin-top: 50px;*/
       justify-content: center;
       align-content: center;
       /*border: 5 dotted gray;*/
       text-overflow: ellipsis;
       transition: transform 250ms;
	   }
      .block:hover {
         transform: translateY(-10px);
      }
      @media(max-width: 992px){
         .block {
             width: 660px;
             min-height: 90px;
             height: fit-content;
             /*max-height: 150px;*/
             border-radius: 10px ;
             padding: 10px;
             color: #595959; 
             margin-bottom: 20px;
             /*margin-top: 50px;*/
             justify-content: center;
             align-content: center;
             /*border: 5 dotted gray;*/
             text-overflow: ellipsis;
             transition: transform 250ms;
             margin-left: 20px;
            }
      }

	   .link-style{
	   	text-decoration: none; 
	   	color:grey;

	   }
	   .link-style:hover {
	   	text-decoration: none; 
	   	color:grey;

	   }
	   .signup-btn{
        width: 120px;
        height: 30px;
        background-color: #00BFFF;
        color: white;
        justify-content: center;
        align-content: center;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        border: none;
      }
     .signup-btn:hover{
        width: 120px;
        height: 30px;
        background-color: white;
        color: #00BFFF;
        justify-content: center;
        align-content: center;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid #00BFFF;
        /*outline-color: #00BFFF;*/
      }
      


</style>
	<% @profiles.each do |profile| %>
		
	
		<div class="row block ">
			   <p style="font-size: 18px;">
			   	<span style="font-size: 20px; " >F<%= link_to profile.id, profile_path(profile), class:'link-style' %>: </span><%= link_to profile.sect, profile_path(profile), class:'link-style' %>, <%= link_to profile.nationality, profile_path(profile), class:'link-style' %>, <%= link_to profile.region, profile_path(profile), class:'link-style' %>, <%= link_to profile.country, profile_path(profile), class:'link-style' %> </p>
			<p><%= profile.summary %></p>
			<p><%= link_to 'Show Profile', profile_path(profile), class:'btn signup-btn' %></p>
		</div>
	<% end %>


