


      <% @profiles.each do |profile| %>
 

     <div class="frind-box">
         <div class="single-friend mb-2">
             <div class="left">
                 <!-- <img src="assets/images/frequest/1.png" alt=""> -->
                 <%= image_tag("user-demo.png") %>
                 <div class="content">
                     <h5 class="name">
                        <% if profile.user.gender == true %>
                            <%= link_to 'M', profile_path(profile) %>
               
                          <% else %>
                            <%= link_to 'F', profile_path(profile) %>
                          
                          <% end %>
                        <%= link_to profile.id, profile_path(profile) %>

                        
                        <i class="fas fa-certificate"></i>
                    </h5>
                     <span class="age"><%= profile.age %></span>
                     <span class="separator"></span>
                     <span class="location"><i class="fas fa-map-marker-alt"></i> <%= profile.country %></span>
                 </div>
             </div>
             <div class="right">
               
                 <%= link_to 'View Profile', profile_path(profile), class:'accept' %>
             </div>
         </div>
         
     </div>
      <% end %>
  
	


