


  <!-- ========== Login & Registation Section ========== -->
  <section class="log-reg">
    <div class="top-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <span style="display: flex; gap:5px; align-items: center;">
              <i class="fas fa-chevron-left"></i> 
            <%= link_to 'Back to mali match', root_path, class:'backto-home' %>
            </span>
          </div>
          <div class="col-lg-7 ">
            <div class="logo ">
              <%= link_to image_tag('logo.png', style:'width:70px; height:50px'), root_path %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="image">
        </div>
        <div class="col-lg-7">
          <%= render 'home/alert_message'%>
          <div class="log-reg-inner">
            <div class="section-header">
              <h2 class="title">
                Welcome to MALI MATCH
              </h2>
              <p>
                Let's create your profile! Just fill in the fields below, and
                we’ll get a new account.
              </p>
            </div>
            <div class="main-content"style='padding-left:20px ;' >
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
             <%= render "devise/shared/error_messages", resource: resource %>
             <h4 class="content-title">Acount Details</h4>
          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true,placeholder:"Enter Full Name", autocomplete: "name", class:'my-form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :phone %><br />
            <%= f.text_field :phone, autofocus: true,placeholder:"Enter Phone No", autocomplete: "phone", class:'my-form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true,placeholder:"Enter Email", autocomplete: "email", class:'my-form-control', data: {behavior: "toggle-email"}  %>
          </div>

          <div class="form-group">
            
            <%= f.label :email_confirmation %><br />
            <%= f.email_field :email_confirmation, autofocus: true,placeholder:"Confirm Email", autocomplete: "email_confirmation", class:'my-form-control', data: {behavior: "toggle-email_confirmation"} %>
            <span id="email_error" style="color: red"></span>
          </div>

          <div class="form-group">
            <%= f.label :gender, 'Select Gender '%>
             
              <div class="row">
                <div class="col-lg-2 malimatch-gender-block">
                  <%= f.radio_button :gender, true, checked: 'checked', data: {behavior: "toggle-products"}, style:'height: 15px; width: 15px;'  %> Male </div>
                <div class="col-lg-3 malimatch-gender-block">
                  <%= f.radio_button :gender, false, data: {behavior: "toggle-products"}, style:'height: 15px; width: 15px;' %> Female </div>
               
    

          <div class="wali-info">
            <h4 class="content-title">Add Wali Information</h4>
            <div class="form-group">
              <%= f.label :wali_name, 'Full Name' %><br />
              <%= f.text_field :wname, autofocus: true,placeholder:"Enter Wali Full Name", autocomplete: "wname", class:'my-form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :wali_mobile, 'Mobile' %><br />
              <%= f.text_field :wmobile, autofocus: true,placeholder:"Enter Phone No", autocomplete: "wmobile", class:'my-form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :wali_email, 'Email' %><br />
              <%= f.email_field :wemail, autofocus: true, placeholder:"Enter Email", autocomplete: "wemail", class:'my-form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :wali_question, 'Does your wali approve for you to use this service? '%>
                <br />
                <br />
                <div class="row">
                  <div class="col-lg-2 malimatch-gender-block" >
                    <%= f.radio_button :wquestion, 'NO', style:'height: 15px; width: 15px;', data: {behavior: "toggle-question"} %> NO 
                  </div>

                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :wquestion, 'YES', style:'height: 15px; width: 15px;' %> YES 
                  </div>
                   
              </div>
          </div>
        </div>

          <div class="password">
            
            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password,placeholder:"Enter Password", autocomplete: "new-password", class:'my-form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, placeholder:"Conform Password", autocomplete: "new-password", class:'my-form-control' %>
            </div>

            <div class="form-group">
                <p style="font-size:14px;">You agree to use My Mali Match in a halal manner. Only use this service for the purposes of marriage and in a manner that complies with the sunnah. Please get in contact with the Wali after receiving a match. We pray that Allah grants you a righteous partner?</p>
                  
        
                  <div class="row">
                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :agree, 'YES', style:'height: 15px; width: 15px;' %> Yes </div>

                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :agree, 'NO', style:'height: 15px; width: 15px;', data: {behavior: "toggle-agree"} %> No </div>
                  
              </div>
              <br>
              <div style="display: flex; align-items:center; gap:5px;" >
                
                <%= f.check_box :remember_me, style:'height: 15px; width: 15px; margin-top:-10px' %>
                <p>Remember me</p>
              </div>

              <p>By creating an account you agree to our <%= link_to 'Terms & Privacy', addons_policy_path, style:"color:dodgerblue" %>.</p>

            <div class="actions">
              <%= f.submit "Sign Up", class:'custom-button ' %>
            </div>

            <div class="or">
              <p>OR</p> 
            </div>
            <div class="or-content">
              
              <p class="or-signup">
                Already have an account? <%= link_to 'Sign in here', new_user_session_path %> 
              </p>
            </div>
          <% end %>
       
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== Login & Registation Section ========== -->

  <!-- Modal -->
  <div class="modal fade" id="email-confirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="top-img">
            <!-- <img src="assets/images/c-image.png" alt=""> -->
            <%= image_tag("c-image.png") %>
          </div>
          <div class="main-content">
            <h4 class="title">
              Check Your Inbox, Please!
            </h4>
            <p>
              A link to verify account has been sent to the email supplied. Please open the link and follow the prompts
              to verify
              email.
            </p>
            <p class="send-again">
              Didn't get e-mail? <a href="#">
                Send it again
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">
 $(document).ready(function() {
  $('.password').show();
  $('.wali-info').hide();
  $('input[type="radio"][data-behavior="toggle-products"]').change(function(evt) {
    // $('.wali-info').hide();
    if($(this).val() == "true") { 
      $('.wali-info').hide();
      
      console.log('Hide wali info');
    } else {
      $('.wali-info').show();

      console.log('Show wali info');
    }
  });

$('input[type="radio"][data-behavior="toggle-question"]').change(function(evt) {
    
    if($(this).val() == "NO") { 
      
      $(this).prop('checked', false);
      alert('Please Take Approval from your wali to use this service');
      // console.log('Hide wali info');
      // $(this).checked = false; 
    }
  });



});

 $(document).ready(function() {
   $('input[type="radio"][data-behavior="toggle-agree"]').change(function(evt) {
      
      if($(this).val() == "NO") { 
        
        $(this).prop('checked', false);
        alert('You can not complete signup procedure!');
        // console.log('no clicked');
        // $(this).checked = false; 
      }
    });

 });


$(document).ready(function() {
  var x, y;
  $('input[type="email"][data-behavior="toggle-email"]').change(function(evt) {
   x = $(this).val()
  console.log(x)
 });

  $('input[type="email"][data-behavior="toggle-email_confirmation"]').change(function(evtt) {
      var lblName = document.getElementById("email_error");
      y = $(this).val()
      
      console.log(y)
      if(x===y){
        lblName.innerHTML = '';
      }
      else{
        // alert('not confirm')
        lblName.innerHTML = 'Email did not match! Please Enter Correct Email.';
      }

      
 
       

    });
  
  
     
  

 });
</script>
