<style type="text/css">
  <style type="text/css">
  * {box-sizing: border-box;}

  /* Full-width input fields */
    .input {
    width: 100%;
    padding: 12px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  .input:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 2px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for all buttons */
  .signup-btn{
        width: 100%;
        height: 45px;
        background-color: #00BFFF;
        color: white;
        justify-content: center;
        align-content: center;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        border: none;
      }
     .signup-btn:hover{
        width: 100%;
        height: 45px;
        background-color: white;
        color: #00BFFF;
        justify-content: center;
        align-content: center;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        border: 2px solid #00BFFF;
        /*outline-color: #00BFFF;*/
      } 

 
  /* Add padding to container elements */
  .container {
    padding: 16px;
   /* height: 100vh;*/
  }


  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 1000px) {
      .signup-btn {
      width: 100%;
    }
  }
</style>
<style>
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  /*background-color: #f1f1f1;*/
  position: fixed;
  height: 100vh;
  overflow: auto;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
   /*margin-top: 100px; */


}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #00BFFF;
  color: white;
  font-size: 20px;
}

.sidebar a:hover {
  background-color: white;
  color: #00BFFF;
}

  .content {
  margin-left: 200px;
  padding: 1px 16px;
  height: fit-content;
}

@media screen and (max-width: 1500px) {
  .sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    margin-left: 0px;
  }
  .sidebar a {float: buttom;}
  .content {margin-left: 10;}
}
@media screen and (max-width: 900px) {
  .sidebar {
    width: 150px;
    height: 100vh;
    position: absolute;
    margin-left: 0px;
  }
  .sidebar a {float: buttom;}
  .content {
    margin-left: 10;
   width: 50%;
  }
}


.header{
  width: 100%;
  height: 100px;
  /*-webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);*/
}
.block1-img{
      width:100px;
      height:80px;
      /*margin-bottom: 10px;*/
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
     }
     .block {
       width: 1030px;
       height: fit-content;
       border-radius: 10px ;
       /*margin-top: 10px;*/
       color: #595959; 
       justify-content: center;
       align-content: center;
       -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
      border: 50px   solid #f1f1f1;

     }
</style>





<div class="sidebar">
  <%= link_to image_tag("logo.png", class:'block1-img'), root_path %>
 <!--  <a class="active" href="#home">Register</a>
  <a class="active" href="#news">Login</a> -->
  <%= link_to "Register", new_user_registration_path,  class:'nav-link active'  %>
    <%= link_to "Login",  new_user_session_path,  class:'nav-link active'  %>
</div>

<div class="content">
  <div class="container">
    <div class="row justify-content-center align-items-center block">
      <div class="col-lg-6">
        <h1 class="mt-3">Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true,placeholder:"Enter Full Name", autocomplete: "name", class:'input' %>
          </div>
          <div class="field">
            <%= f.label :phone %><br />
            <%= f.text_field :phone, autofocus: true,placeholder:"Enter Phone No", autocomplete: "phone", class:'input' %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true,placeholder:"Enter Email", autocomplete: "email", class:'input', data: {behavior: "toggle-email"}  %>
          </div>

          <div class="field">
            
            <%= f.label :email_confirmation %><br />
            <%= f.email_field :email_confirmation, autofocus: true,placeholder:"Confirm Email", autocomplete: "email_confirmation", class:'input', data: {behavior: "toggle-email_confirmation"} %>
            <span id="email_error" style="color: red"></span>
          </div>

          <div class="field">
            <%= f.label :gender, 'Select Gender '%>
              <br />
              <br />
              <div class="row">
                <div class="col-lg-2">
                  <%= f.radio_button :gender, true, checked: 'checked', data: {behavior: "toggle-products"}  %> Male </div>
                <div class="col-lg-3">
                  <%= f.radio_button :gender, false, data: {behavior: "toggle-products"} %> Female </div>
                <br />
                <br /> 
    

          <div class="wali-info">
            <h4>Add Wali Information:</h4>

            <div class="field">
              <%= f.label :wali_name, 'Full Name' %><br />
              <%= f.text_field :wname, autofocus: true,placeholder:"Enter Wali Full Name", autocomplete: "wname", class:'input' %>
            </div>

            <div class="field">
              <%= f.label :wali_mobile, 'Mobile' %><br />
              <%= f.text_field :wmobile, autofocus: true,placeholder:"Enter Phone No", autocomplete: "wmobile", class:'input' %>
            </div>

            <div class="field">
              <%= f.label :wali_email, 'Email' %><br />
              <%= f.email_field :wemail, autofocus: true, placeholder:"Enter Email", autocomplete: "wemail", class:'input' %>
            </div>

            <div class="field">
              <%= f.label :wali_question, 'Does your wali approve for you to use this service? '%>
                <br />
                <br />
                <div class="row">
                  <div class="col-lg-2">
                    <%= f.radio_button :wquestion, 'NO', data: {behavior: "toggle-question"} %> NO </div>
                  <div class="col-lg-2">
                    <%= f.radio_button :wquestion, 'YES' %> YES </div>
                  <br />
                  <br /> 
              </div>
          </div>
        </div>

          <div class="password">
            
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password,placeholder:"Enter Password", autocomplete: "new-password", class:'input' %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, placeholder:"Conform Password", autocomplete: "new-password", class:'input' %>
            </div>

            <div class="field">
                <%= f.label :agree, 'You agree to use My Mali Match in a halal manner. Only use this service for the purposes of marriage and in a manner that complies with the sunnah. Please get in contact with the Wali after receiving a match. We pray that Allah grants you a righteous partner?'%>
                  <br />
                  <br />
                  <div class="row">
                  <div class="col-lg-2">
                    <%= f.radio_button :agree, 'YES' %> Yes </div>

                  <div class="col-lg-2">
                    <%= f.radio_button :agree, 'NO', data: {behavior: "toggle-agree"} %> No </div>
                  <br />
                  <br /> 
              </div>
            <div class="field">
                <%= f.check_box :remember_me, style:'margin-bottom:15px' %>
                <%= f.label :remember_me %>
            </div>

              <p>By creating an account you agree to our <%= link_to 'Terms & Privacy', addons_policy_path, style:"color:dodgerblue" %>.</p>

            <div class="actions">
              <%= f.submit "Sign up", class:'signup-btn mb-4 ' %>
            </div>
          <% end %>
       </div>
            

        

      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
 $(document).ready(function() {
  $('.password').show();
  $('.wali-info').hide();
  $('input[type="radio"][data-behavior="toggle-products"]').change(function(evt) {
    // $('.wali-info').hide();
    if($(this).val() == "true") { 
      $('.wali-info').hide();
      
      console.log('Hide wali info');
    } else {
      $('.wali-info').show();

      console.log('Show wali info');
    }
  });

$('input[type="radio"][data-behavior="toggle-question"]').change(function(evt) {
    
    if($(this).val() == "NO") { 
      
      $(this).prop('checked', false);
      alert('Please Take Approval from your wali to use this service');
      // console.log('Hide wali info');
      // $(this).checked = false; 
    }
  });



});

 $(document).ready(function() {
   $('input[type="radio"][data-behavior="toggle-agree"]').change(function(evt) {
      
      if($(this).val() == "NO") { 
        
        $(this).prop('checked', false);
        alert('You can not complete signup procedure!');
        // console.log('no clicked');
        // $(this).checked = false; 
      }
    });

 });


$(document).ready(function() {
  var x, y;
  $('input[type="email"][data-behavior="toggle-email"]').change(function(evt) {
   x = $(this).val()
  console.log(x)
 });

  $('input[type="email"][data-behavior="toggle-email_confirmation"]').change(function(evtt) {
      var lblName = document.getElementById("email_error");
      y = $(this).val()
      
      console.log(y)
      if(x===y){
        lblName.innerHTML = '';
      }
      else{
        // alert('not confirm')
        lblName.innerHTML = 'Email did not match! Please Enter Correct Email.';
      }

      
 
       

    });
  
  
     
  

 });
</script>






