
<style type="text/css">
	.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
  }
 .center {
    text-align: center;
    width: 100%;
   }
   .footer-container{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #E4E3E1;
   }
</style>
<div class="container-fluid  footer-container">
  <div class="row">
    <center><h4 style="color:red; margin-top: 20px; font-weight: bold;">What Our Users Say</h4></center>
  </div>
  <div class="row">

    <div class="col-lg-4 p-5">
      <div class="row">
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
      </div>
      <p style="color:black; ">I live using the Mali app"</p>
      <div class="profile"><i class="fa-solid fa-user fa-2x center" style="text-align: center; color: white; margin-top: 5px"></i></div><br>
      <p style="color:black; ">Fatimah</p>
    </div>

    <div class="col-lg-4 p-5">
      <div class="row">
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
      </div>
      <p style="color:black; ">I found my true love through this app"</p>
      <div class="profile"><i class="fa-solid fa-user fa-2x center" style="text-align: center; color: white; margin-top: 5px"></i></div><br>
      <p style="color:black; ">Zanerb</p>
    </div>

    <div class="col-lg-4 p-5">
      <div class="row">
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
        <%= image_tag("star.svg", class:'',  style:'width: 50px; height: 50px;') %>
      </div>
      <p style="color:black; ">I have never been so in love until I started using Mali app"</p>
      <div class="profile"><i class="fa-solid fa-user fa-2x center" style="text-align: center; color: white; margin-top: 5px"></i></div><br>
      <p style="color:black; ">Sadeeq</p>
    </div>
    

  </div>
</div>