<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>About Us – NikkahLab</title>
	<meta name="robots" content="max-image-preview:large">
	<link rel="dns-prefetch" href="//s.w.org">
	<link rel="alternate" type="application/rss+xml" title="NikkahLab » Feed" href="http://www.nikkahlab.com/feed/">
	<link rel="alternate" type="application/rss+xml" title="NikkahLab » Comments Feed" href="http://www.nikkahlab.com/comments/feed/">
	<script type="text/javascript">
	window._wpemojiSettings = {
		"baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
		"ext": ".png",
		"svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
		"svgExt": ".svg",
		"source": {
			"concatemoji": "http:\/\/www.nikkahlab.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.3"
		}
	};
	! function(e, a, t) {
		var n, r, o, i = a.createElement("canvas"),
			p = i.getContext && i.getContext("2d");

		function s(e, t) {
			var a = String.fromCharCode;
			p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
			e = i.toDataURL();
			return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
		}

		function c(e) {
			var t = a.createElement("script");
			t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
		}
		for(o = Array("flag", "emoji"), t.supports = {
				everything: !0,
				everythingExceptFlag: !0
			}, r = 0; r < o.length; r++) t.supports[o[r]] = function(e) {
			if(!p || !p.fillText) return !1;
			switch(p.textBaseline = "top", p.font = "600 32px Arial", e) {
				case "flag":
					return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
				case "emoji":
					return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613])
			}
			return !1
		}(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
		t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() {
			t.DOMReady = !0
		}, t.supports.everything || (n = function() {
			t.readyCallback()
		}, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
			"complete" === a.readyState && t.readyCallback()
		})), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
	}(window, document, window._wpemojiSettings);
	</script>
	<script src="http://www.nikkahlab.com/wp-includes/js/wp-emoji-release.min.js?ver=5.8.3" type="text/javascript" defer=""></script>
	<style type="text/css">
	img.wp-smiley,
	img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 .07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
	</style>
	<link rel="stylesheet" id="wp-block-library-css" href="http://www.nikkahlab.com/wp-includes/css/dist/block-library/style.min.css?ver=5.8.3" type="text/css" media="all">
	<link rel="stylesheet" id="hello-elementor-css" href="http://www.nikkahlab.com/wp-content/themes/hello-elementor/style.min.css?ver=2.4.1" type="text/css" media="all">
	<link rel="stylesheet" id="hello-elementor-theme-style-css" href="http://www.nikkahlab.com/wp-content/themes/hello-elementor/theme.min.css?ver=2.4.1" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-frontend-css" href="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.4.2" type="text/css" media="all">
	<style id="elementor-frontend-inline-css" type="text/css">
	@font-face {
		font-family: eicons;
		src: url(http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.eot?5.10.0);
		src: url(http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.eot?5.10.0#iefix) format("embedded-opentype"), url(http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.woff2?5.10.0) format("woff2"), url(http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.woff?5.10.0) format("woff"), url(http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.ttf?5.10.0) format("truetype"), url(http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.svg?5.10.0#eicon) format("svg");
		font-weight: 400;
		font-style: normal
	}
	</style>
	<link rel="stylesheet" id="elementor-post-37-css" href="http://www.nikkahlab.com/wp-content/uploads/elementor/css/post-37.css?ver=1629663353" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-icons-css" href="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.12.0" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-pro-css" href="http://www.nikkahlab.com/wp-content/plugins/elementor-pro/assets/css/frontend.min.css?ver=3.3.4" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-global-css" href="http://www.nikkahlab.com/wp-content/uploads/elementor/css/global.css?ver=1629663353" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-post-186-css" href="http://www.nikkahlab.com/wp-content/uploads/elementor/css/post-186.css?ver=1637029861" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-post-154-css" href="http://www.nikkahlab.com/wp-content/uploads/elementor/css/post-154.css?ver=1631531510" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-post-265-css" href="http://www.nikkahlab.com/wp-content/uploads/elementor/css/post-265.css?ver=1631134406" type="text/css" media="all">
	<link rel="stylesheet" id="google-fonts-1-css" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPlayfair+Display%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=auto&amp;ver=5.8.3" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-icons-shared-0-css" href="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.15.3" type="text/css" media="all">
	<link rel="stylesheet" id="elementor-icons-fa-solid-css" href="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.15.3" type="text/css" media="all">
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-includes/js/jquery/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2" id="jquery-migrate-js"></script>
	<link rel="https://api.w.org/" href="http://www.nikkahlab.com/wp-json/">
	<link rel="alternate" type="application/json" href="http://www.nikkahlab.com/wp-json/wp/v2/pages/186">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.nikkahlab.com/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.nikkahlab.com/wp-includes/wlwmanifest.xml">
	<meta name="generator" content="WordPress 5.8.3">
	<link rel="canonical" href="http://www.nikkahlab.com/about-us/">
	<link rel="shortlink" href="http://www.nikkahlab.com/?p=186">
	<link rel="alternate" type="application/json+oembed" href="http://www.nikkahlab.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.nikkahlab.com%2Fabout-us%2F">
	<link rel="alternate" type="text/xml+oembed" href="http://www.nikkahlab.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.nikkahlab.com%2Fabout-us%2F&amp;format=xml">
	<link rel="icon" href="http://www.nikkahlab.com/wp-content/uploads/2021/09/cropped-cropped-Artboard_1_2x-removebg-preview-32x32.png" sizes="32x32">
	<link rel="icon" href="http://www.nikkahlab.com/wp-content/uploads/2021/09/cropped-cropped-Artboard_1_2x-removebg-preview-192x192.png" sizes="192x192">
	<link rel="apple-touch-icon" href="http://www.nikkahlab.com/wp-content/uploads/2021/09/cropped-cropped-Artboard_1_2x-removebg-preview-180x180.png">
	<meta name="msapplication-TileImage" content="http://www.nikkahlab.com/wp-content/uploads/2021/09/cropped-cropped-Artboard_1_2x-removebg-preview-270x270.png"> </head>

<body class="page-template-default page page-id-186 wp-custom-logo elementor-default elementor-kit-37 elementor-page elementor-page-186 e--ua-blink e--ua-chrome e--ua-webkit" data-elementor-device-mode="desktop">
	<div data-elementor-type="header" data-elementor-id="154" class="elementor elementor-154 elementor-location-header" data-elementor-settings="[]">
		<div class="elementor-section-wrap">
			<section class="elementor-section elementor-top-section elementor-element elementor-element-267a3aa elementor-section-full_width elementor-section-content-middle elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="267a3aa" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 1284px; left: 0px;">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d95dd55 elementor-hidden-mobile" data-id="d95dd55" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-42b3cbd elementor-widget elementor-widget-image" data-id="42b3cbd" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container"> <%= link_to image_tag("logo.png", style:"width:50; height:50px;"), root_path %> </div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9da6d8c" data-id="9da6d8c" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-f46985e elementor-nav-menu__align-center elementor-nav-menu--dropdown-mobile elementor-nav-menu--stretch elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="f46985e" data-element_type="widget" data-settings="{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;fas fa-caret-down&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
								<div class="elementor-widget-container">
									<nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
										<ul id="menu-1-f46985e" class="elementor-nav-menu" data-smartmenus-id="16447502840682166">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-140 current_page_item menu-item-351"><%= link_to 'Home', root_path, class: 'elementor-item ' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><%= link_to 'About Us', admin_about_path, class: 'elementor-item elementor-item-active' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><%= link_to 'Pricing', price_index_path, class: 'elementor-item' %></li>
											<% if user_signed_in? %>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><%= link_to 'Dashboard', dashboard_index_path, class: 'elementor-item' %></li>
											<%end%>
										</ul>
									</nav>
									<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false" style=""> <i class="eicon-menu-bar" aria-hidden="true" role="presentation"></i> <span class="elementor-screen-only">Menu</span> </div>
									<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true" style="top: 44px; width: 1284px; left: 0px;">
										<ul id="menu-2-f46985e" class="elementor-nav-menu" data-smartmenus-id="16447502840702244">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-140 current_page_item menu-item-351"><%= link_to 'Home', root_path, class: 'elementor-item ' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><%= link_to 'About Us', admin_about_path, class: 'elementor-item elementor-item-active' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><%= link_to 'Pricing', price_index_path, class: 'elementor-item' %></li>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f0ad336" data-id="f0ad336" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-9048b7d elementor-align-center elementor-mobile-align-right elementor-widget elementor-widget-button" data-id="9048b7d" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<% if user_signed_in? %>
											<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'elementor-button-text', style:'background-color: red;
											padding: 10px 20px;
											border-radius: 30px;
											color: white;' %>
											<%else%>
												<%= link_to 'Login', registration_index_path, class: 'elementor-button-text', style:'background-color: red;
													padding: 10px 20px;
													border-radius: 30px;
													color: white;' %>
											<%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<main class="site-main post-186 page type-page status-publish hentry" role="main">
		<div class="page-content">
			<div data-elementor-type="wp-page" data-elementor-id="186" class="elementor elementor-186" data-elementor-settings="[]">
				<div class="elementor-section-wrap">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-ed4238b elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle" data-id="ed4238b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6988ee0" data-id="6988ee0" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-387c40c elementor-widget elementor-widget-spacer" data-id="387c40c" data-element_type="widget" data-widget_type="spacer.default">
										<div class="elementor-widget-container">
											<div class="elementor-spacer">
												<div class="elementor-spacer-inner"></div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-fc75815 elementor-widget elementor-widget-heading" data-id="fc75815" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Who We Are</h2> </div>
									</div>
									<div class="elementor-element elementor-element-a8884cd elementor-widget elementor-widget-text-editor" data-id="a8884cd" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>MALIMATCH is a fully sunnah complaint matrimony service that allows muslims to find their ideal spouse without compromising their faith. We truly believe that starting a relationship in the correct way taught to us by our beloved Prophet Muhammad Peace and blessings be upon him. We wanted to create a platform that people can use to find a spouse according to the sunnah and this way our marriages may be blessed. Marriage is a beautiful sunnah of our prophet and we wanted to help our brothers and sisters find the one in the right way. We found that many brothers and sisters found difficulty in finding a spouse due to not knowing where to begin or not knowing details about potentials. Our Platform solves both these problems by bringing all the options to you.</p>
										</div>
									</div>
									<div class="elementor-element elementor-element-a38933e elementor-widget elementor-widget-heading" data-id="a38933e" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">Aims</h2> </div>
									</div>
									<div class="elementor-element elementor-element-2b77c04 elementor-widget elementor-widget-text-editor" data-id="2b77c04" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Our aim is to make marriage simple. We want to provide the best service for each user we verify each profile so only serious candidates are on our platform.&nbsp; Each user has a detailed profile that has detailed information about their religious practices and other information about themselves. So, you have an idea of the person you want to pursue.</p>
										</div>
									</div>
									<div class="elementor-element elementor-element-62d9d7d elementor-widget elementor-widget-heading" data-id="62d9d7d" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h2 class="elementor-heading-title elementor-size-default">How It Works</h2> </div>
									</div>
									<div class="elementor-element elementor-element-90ab45b elementor-widget elementor-widget-text-editor" data-id="90ab45b" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p><strong>Step 1: Create a profile</strong></p>
											<p>Fill out your information. Tell us about yourself</p>
											<p>&nbsp;</p>
											<p><strong>Step 2: Find your ideal candidate</strong></p>
											<p>After having your profile approved you can use our platform and search for profiles that you are interested in. (There are no pictures on our platform).</p>
											<p>&nbsp;</p>
											<p><strong>Step 3: Start sending requests</strong></p>
											<p>Send requests to the profiles and if you get a match the rest is up to you. We encourage our users to meet each other with their wali.</p>
										</div>
									</div>
									<div class="elementor-element elementor-element-c54dbb1 elementor-widget elementor-widget-text-editor" data-id="c54dbb1" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>Note: there are no profile pictures on MALIMATCH as we do not want any people on our site that are not serious. Also to comply with our Islamic values we do not allow any photos on our site rather we recommend matches to meet each other in person or over video call.</p>
										</div>
									</div>
									<div class="elementor-element elementor-element-04d28be elementor-widget elementor-widget-spacer" data-id="04d28be" data-element_type="widget" data-widget_type="spacer.default">
										<div class="elementor-widget-container">
											<div class="elementor-spacer">
												<div class="elementor-spacer-inner"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5595bad" data-id="5595bad" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-cfc940d elementor-widget elementor-widget-image elementor-sticky" data-id="cfc940d" data-element_type="widget" data-settings="{&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" data-widget_type="image.default" style="">
										<div class="elementor-widget-container"> <img width="583" height="1024" src="http://www.nikkahlab.com/wp-content/uploads/2021/08/10.png" class="attachment-large size-large" alt="" loading="lazy"> </div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="post-tags"> </div>
		</div>
		<section id="comments" class="comments-area"> </section>
		<!-- .comments-area -->
	</main>
	<div data-elementor-type="footer" data-elementor-id="265" class="elementor elementor-265 elementor-location-footer" data-elementor-settings="[]">
		<div class="elementor-section-wrap">
			<section class="elementor-section elementor-top-section elementor-element elementor-element-9fb12d9 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="9fb12d9" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1284px; left: 0px;">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-c2eda32" data-id="c2eda32" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-962e861 elementor-widget elementor-widget-heading" data-id="962e861" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h2 class="elementor-heading-title elementor-size-default">MALI MATCH</h2> </div>
							</div>
							<div class="elementor-element elementor-element-d7763d5 elementor-widget elementor-widget-text-editor" data-id="d7763d5" data-element_type="widget" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>Our aim is to make marriage simple. We want to provide the best service for each user we verify each profile so only serious candidates are on our platform.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7c356e4 elementor-hidden-mobile" data-id="7c356e4" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-bcf36b5 elementor-nav-menu__align-center elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="bcf36b5" data-element_type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;fas fa-caret-down&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
								<div class="elementor-widget-container">
									<nav migration_allowed="1" migrated="0" role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
										<ul id="menu-1-bcf36b5" class="elementor-nav-menu" data-smartmenus-id="1644750284096626">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-140 current_page_item menu-item-351"><%= link_to 'Home', root_path, class: 'elementor-item ' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><%= link_to 'About Us', admin_about_path, class: 'elementor-item elementor-item-active' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><%= link_to 'Pricing', price_index_path, class: 'elementor-item' %></li>
										</ul>
									</nav>
									<div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false"> <i class="eicon-menu-bar" aria-hidden="true" role="presentation"></i> <span class="elementor-screen-only">Menu</span> </div>
									<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
										<ul id="menu-2-bcf36b5" class="elementor-nav-menu" data-smartmenus-id="16447502840972554">
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-351"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-140 current_page_item menu-item-351"><%= link_to 'Home', root_path, class: 'elementor-item ' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><%= link_to 'About Us', admin_about_path, class: 'elementor-item elementor-item-active' %></li>
											<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><%= link_to 'Pricing', price_index_path, class: 'elementor-item' %></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e501523 elementor-hidden-mobile" data-id="e501523" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-93b4ce1 elementor-align-center elementor-widget elementor-widget-button" data-id="93b4ce1" data-element_type="widget" data-widget_type="button.default">
								<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
										<% if user_signed_in? %>
											<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'elementor-button-text', style:'background-color: red;
											padding: 10px 20px;
											border-radius: 30px;
											color: white;' %>
											<%else%>
												<%= link_to 'Login', registration_index_path, class: 'elementor-button-text', style:'background-color: red;
													padding: 10px 20px;
													border-radius: 30px;
													color: white;' %>
											<%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<link rel="stylesheet" id="e-animations-css" href="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.4.2" type="text/css" media="all">
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/themes/hello-elementor/assets/js/hello-frontend.min.js?ver=1.0.0" id="hello-theme-frontend-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-includes/js/wp-embed.min.js?ver=5.8.3" id="wp-embed-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor-pro/assets/lib/smartmenus/jquery.smartmenus.min.js?ver=1.0.1" id="smartmenus-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.min.js?ver=3.3.4" id="elementor-pro-webpack-runtime-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.4.2" id="elementor-webpack-runtime-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.4.2" id="elementor-frontend-modules-js"></script>
	<script type="text/javascript" id="elementor-pro-frontend-js-before">
	var ElementorProFrontendConfig = {
		"ajaxurl": "http:\/\/www.nikkahlab.com\/wp-admin\/admin-ajax.php",
		"nonce": "73193be79b",
		"urls": {
			"assets": "http:\/\/www.nikkahlab.com\/wp-content\/plugins\/elementor-pro\/assets\/"
		},
		"i18n": {
			"toc_no_headings_found": "No headings were found on this page."
		},
		"shareButtonsNetworks": {
			"facebook": {
				"title": "Facebook",
				"has_counter": true
			},
			"twitter": {
				"title": "Twitter"
			},
			"google": {
				"title": "Google+",
				"has_counter": true
			},
			"linkedin": {
				"title": "LinkedIn",
				"has_counter": true
			},
			"pinterest": {
				"title": "Pinterest",
				"has_counter": true
			},
			"reddit": {
				"title": "Reddit",
				"has_counter": true
			},
			"vk": {
				"title": "VK",
				"has_counter": true
			},
			"odnoklassniki": {
				"title": "OK",
				"has_counter": true
			},
			"tumblr": {
				"title": "Tumblr"
			},
			"digg": {
				"title": "Digg"
			},
			"skype": {
				"title": "Skype"
			},
			"stumbleupon": {
				"title": "StumbleUpon",
				"has_counter": true
			},
			"mix": {
				"title": "Mix"
			},
			"telegram": {
				"title": "Telegram"
			},
			"pocket": {
				"title": "Pocket",
				"has_counter": true
			},
			"xing": {
				"title": "XING",
				"has_counter": true
			},
			"whatsapp": {
				"title": "WhatsApp"
			},
			"email": {
				"title": "Email"
			},
			"print": {
				"title": "Print"
			}
		},
		"facebook_sdk": {
			"lang": "en",
			"app_id": ""
		},
		"lottie": {
			"defaultAnimationUrl": "http:\/\/www.nikkahlab.com\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json"
		}
	};
	</script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor-pro/assets/js/frontend.min.js?ver=3.3.4" id="elementor-pro-frontend-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2" id="elementor-waypoints-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1" id="jquery-ui-core-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6" id="swiper-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.4.2" id="share-link-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1" id="elementor-dialog-js"></script>
	<script type="text/javascript" id="elementor-frontend-js-before">
	var elementorFrontendConfig = {
		"environmentMode": {
			"edit": false,
			"wpPreview": false,
			"isScriptDebug": false
		},
		"i18n": {
			"shareOnFacebook": "Share on Facebook",
			"shareOnTwitter": "Share on Twitter",
			"pinIt": "Pin it",
			"download": "Download",
			"downloadImage": "Download image",
			"fullscreen": "Fullscreen",
			"zoom": "Zoom",
			"share": "Share",
			"playVideo": "Play Video",
			"previous": "Previous",
			"next": "Next",
			"close": "Close"
		},
		"is_rtl": false,
		"breakpoints": {
			"xs": 0,
			"sm": 480,
			"md": 768,
			"lg": 1025,
			"xl": 1440,
			"xxl": 1600
		},
		"responsive": {
			"breakpoints": {
				"mobile": {
					"label": "Mobile",
					"value": 767,
					"default_value": 767,
					"direction": "max",
					"is_enabled": true
				},
				"mobile_extra": {
					"label": "Mobile Extra",
					"value": 880,
					"default_value": 880,
					"direction": "max",
					"is_enabled": false
				},
				"tablet": {
					"label": "Tablet",
					"value": 1024,
					"default_value": 1024,
					"direction": "max",
					"is_enabled": true
				},
				"tablet_extra": {
					"label": "Tablet Extra",
					"value": 1200,
					"default_value": 1200,
					"direction": "max",
					"is_enabled": false
				},
				"laptop": {
					"label": "Laptop",
					"value": 1366,
					"default_value": 1366,
					"direction": "max",
					"is_enabled": false
				},
				"widescreen": {
					"label": "Widescreen",
					"value": 2400,
					"default_value": 2400,
					"direction": "min",
					"is_enabled": false
				}
			}
		},
		"version": "3.4.2",
		"is_static": false,
		"experimentalFeatures": {
			"e_dom_optimization": true,
			"a11y_improvements": true,
			"e_import_export": true,
			"hello-theme-header-footer": true,
			"landing-pages": true,
			"elements-color-picker": true,
			"admin-top-bar": true,
			"form-submissions": true,
			"video-playlist": true
		},
		"urls": {
			"assets": "http:\/\/www.nikkahlab.com\/wp-content\/plugins\/elementor\/assets\/"
		},
		"settings": {
			"page": [],
			"editorPreferences": []
		},
		"kit": {
			"active_breakpoints": ["viewport_mobile", "viewport_tablet"],
			"global_image_lightbox": "yes",
			"lightbox_enable_counter": "yes",
			"lightbox_enable_fullscreen": "yes",
			"lightbox_enable_zoom": "yes",
			"lightbox_enable_share": "yes",
			"lightbox_title_src": "title",
			"lightbox_description_src": "description",
			"hello_header_logo_type": "logo",
			"hello_header_menu_layout": "horizontal",
			"hello_footer_logo_type": "logo"
		},
		"post": {
			"id": 186,
			"title": "About%20Us%20%E2%80%93%20NikkahLab",
			"excerpt": "",
			"featuredImage": false
		}
	};
	</script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.4.2" id="elementor-frontend-js"></script><span id="elementor-device-mode" class="elementor-screen-only"></span>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor-pro/assets/js/preloaded-elements-handlers.min.js?ver=3.3.4" id="pro-preloaded-elements-handlers-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor/assets/js/preloaded-modules.min.js?ver=3.4.2" id="preloaded-modules-js"></script>
	<script type="text/javascript" src="http://www.nikkahlab.com/wp-content/plugins/elementor-pro/assets/lib/sticky/jquery.sticky.min.js?ver=3.3.4" id="e-sticky-js"></script>
</body>

</html>