<style type="text/css">
  .main-content{
    width: 100vw;
    height: fit-content;
  }
  p{
    color: black;
  }
  h2{
    padding-left: 20px;
  }
  .image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
  }
  @media(max-width: 995px){
    .easy-mobile{
   /* padding: 0px 100px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      
    }
    h2{
      margin-left: 10px;
    }
  }

  @media(max-width: 995px){
    .find-mobile{
   /* padding: 0px 100px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
      
    }
    h2{
      margin-left: 10px;
    }
    .mobile-view-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  }
  
</style>
 <style type="text/css">
     
      .home_video {
        width: 100vw;
        height: 87vh;
        position: absolute;
        object-fit: cover;
        top: 0;
        z-index: -2;
}
@media(max-width: 600px){
  .home_video {
        width: 100vw;
        height: 100px;
        position: absolute;
        /*object-fit: cover;*/
        top: 0;
        z-index: -1;
      }
      #myVide{
        height: 100px;
      }
}
/*.content {
  position: absolute;
  top: 503px;
  left: -20px;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 100vh;
}*/
    </style>

<%= render 'admin_navbar' %>

<div class="main-content">

<div class="home-video-wrapper">
  <%= video_tag "videobanner.mp4", autoplay: :autoplay, class: "home_video", id:"myVideo" %>
  
</div>

    <!-- Optional: some overlay text to describe the video -->
    <div class="content">
      
      <!-- Use a button to pause/play the video with JavaScript -->
      <!-- button id="myBtn" onclick="myFunction()">Pause</button> -->
    </div>
   

  <div class="container mt-5">
    <div class="row justify-content-center">
      <%= image_tag("logo.png",class:"", style:'width: 400px; height: 220px;') %>
      <center ><h2 style="color:white">Making Marriage Easy</h2></center>
      <%= image_tag("apple.png",class:"mt-2", style:'width: 200px; height: 50px;') %>
      <%= image_tag("google.png",class:"mt-2", style:'width: 200px; height: 50px;') %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mt-5 justify-content-center">
      <%= image_tag("easy_to_use_man.png",class:"", style:'width: 150px; height: 300px;', class:'image-center') %>
    </div>
    <div class="col-lg-6 mt-5 easy-mobile">
      <div class="row ">
         <%= image_tag("easy_to_use_heart.png",class:"", style:'width: 350px; height: 150px;') %>
      </div>
      <div class="row justify-content-center">
        <h2>Easy To Use</h2>
        <p style="color:black; padding: 20px;">Mali Match is the newest halal matrimony app for muslims to find their perfect partner in a manner that complies with their faith. Its simple and easy to use</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="row ">
         <%= image_tag("match_find_heart.png",class:"mobile-view-center", style:'width: 350px; height: 150px;') %>
      </div>
      <div class="row justify-content-center p-5 find-mobile">
        <h2>Find Matches On MALIMATCH</h2>
        <p style="color:black; padding: 20px;">Finding a match has never been easier just find a profile that you are interested in and request them its that easy</p>
      </div>
    </div>
    <div class="col-lg-6">
      <%= image_tag("match_find_man.png", class:'image-center',  style:'width: 250px; height: 350px;') %>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-4">
        <%= image_tag("meet_cupple1.png", class:'image-center',  style:'width: 250px; height: 350px;') %>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <%= image_tag("meet_heart.png", class:'image-center', style:'width: 250px; height: 250px;') %>
        </div>
        <div class="row justify-content-center find-mobile">
          <h2>Meet Singles From Around The World</h2>
          <p style="color:black; padding: 20px;">On Mali Match you can find singles worldwide</p>
        </div>
      </div>
      <div class="col-lg-4">
      <%= image_tag("meet_cupple2.png", class:'image-center',  style:'width: 250px; height: 350px;') %>
    </div>

</div>

<!-- Footer section -->


</div>

<%= render 'admin_footer1' %>
<%= render 'admin_footer' %>

  
 <script type="text/javascript">
      
      // Get the video
      var video = document.getElementById("myVideo");
      video.play();
      // Get the button
      var btn = document.getElementById("myBtn");

      // Pause and play the video, and change the button text
      function myFunction() {
        if (video.paused) {
          video.play();
          btn.innerHTML = "Pause";
        } else {
          video.pause();
          btn.innerHTML = "Play";
        }
      }
      </script>

