<style type="text/css">
 

.remainning-btn {
  border-radius: 20px;
  color: white;
}
</style>


  <div class="page-title">
      Edit Profile
      <div class="right">
          <% if @profile.request <= 0 %> <span class="px-4 py-2 bg-danger remainning-btn">
                (<%= @profile.request %>) Request Remaining
              </span>
            <% else %> <span class="px-4 py-2 bg-info remainning-btn">
              (<%= @profile.request %>) Request Remaining
             </span>
          <% end %>
      </div>
  </div>

 <div class="container log-reg  ">
   <div class="row ">
     <div class="col-12">
       <div class="log-reg-inner">
        <div class="main-content ">
          <p>This form will be completely visible excluding your first name, surname and date of birth.</p>
          
          <%= form_for :profile, url: myprofile_path(@profile), html: {method: :put} do |f| %>
            <div class="form-group">
              <%= f.label :First_name %>
                <br />
                <%= f.text_field :fname, autofocus: true,placeholder:"Enter First Name", autocomplete: "name", class:'my-form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :Surname %>
                <br />
                <%= f.text_field :surname, autofocus: true,placeholder:"Enter Surname", autocomplete: "phone", class:'my-form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :Date_of_birth %>
                <br />
                <%= f.date_field :dob, autofocus: true, autocomplete: "date", class:'my-form-control' %>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group ">
                  <%= f.label :country, "Location" %>
                    
                    <%= f.select :country,  ['Afghanistan','Aland Islands','Albania','Algeria','American Samoa','Andorra','Angola','Anguilla','Antarctica','Antigua and Barbuda','Argentina','Armenia','Aruba','Australia','Austria','Azerbaijan','Bahamas','Bahrian','Bangladesh','Barbados','Belarus','Belgium','Belize','Benin','Bermuda','Bhutan','Bolivia','Bonaire, Sint Eustatius and Saba','Bosnia and Herzegovina','Botswana','Bouvet Island','Brazil','British Indian Ocean Territory','Brunei Darussalam','Bulgaria','Burkina Faso','Burundi','Cambodia','Cameroon','Canada','Cape Verde','Cayman Islands','Central African Republic','Chad','Chile','China','Christmas Island','Cocos (Keeling) Islands','Colombia','Comoros','Congo, Republic of the (Brazzaville)','Congo, the Democratic Republic of the (Kinshasa)','Cook Island','Costa Rica','Côte d Ivoire','Croatia','Cuba','Curaçao','Cyprus','Czech Republic','Denmark','Djibouti','Dominica','Dominican Republic','Ecuador','Egypt','El Salvador','Equatorial Guinea','Eritrea','Estonia','Ethiopia','Falkland Islands (Islas Malvinas)','Faroe Islands','Fiji','Finland','France','French Guiana','French Polynesia','French Southern and Antarctic Lands','Gabon','Gambia, The','Georgia','Germany','Ghana','Gibraltar','Greece','Greenland','Grenada','Guadeloupe','Guam','Guatemala','Guernsey','Guinea','Guinea-Bissau','Guyana','Haiti','Heard Island and McDonald Islands','Holy See (Vatican City)','Honduras','Hong Kong','Hungary','Iceland','India','Indonesia','Iran','Iraq','Ireland','Isle of Man','Israel','Italy','Jamaica','Japan','Jersey','Jordan','Kazakhstan','Kenya','Kiribati','Korea, Democratic People','Korea, Republic of','Kuwait','Kyrgyzstan','Laos','Latvia','Lebanon','Lesotho','Liberia','Libya','Liechtenstein','Lithuania','Luxembourg','Macao','Macedonia, Republic of','Madagascar','Malawi','Malaysia','Maldives','Mali','Malta','Marshall Islands','Martinique','Mauritania','Mauritius','Mayotte','Mexico','Micronesia, Federated States of','Moldova','Monaco','Mongolia','Montenegro','Montserrat','Morocco','Mozambique','Myanmar','Namibia','Nauru','Nepal','Netherlands','New Caledonia','New Zealand','Nicaragua','Niger','Nigeria','Niue','Norfolk Island','Northern Mariana Isla','Norway','Oman','Pakistan','Palau','Palestine, State of','Panama','Papua New Guinea','Papua New Guinea','Paraguay','Philippines','Pitcairn','Poland','Portugal','Puerto Rico','Qatar','Réunion','Romania','Russian Federation','Rwanda','Saint Barthélemy','Saint Helena, Ascension and Tristan da Cunha','Saint Kitts and Nevis','Saint Lucia','Saint Martin','Saint Pierre and Miquelon','Saint Vincent and the Grenadines','Samoa','San Marino','Sao Tome and Principe','Saudi Arabia','Senegal','Serbia','Seychelles','Sierra Leone','Singapore','Sint Maarten (Dutch part)','Slovakia','Slovenia','Solomon Islands','Somalia','South Africa','South Georgia and South Sandwich Islands','South Sudan','Spain','Sri Lanka','Sudan','Suriname','Swaziland','Sweden','Switzerland','Syrian Arab Republic','Taiwan','Tajikistan','Tanzania, United Republic of','Thailand','Timor-Les','Togo','Tokelau','Tonga','Trinidad and Tobago','Tunisia','Turkey','Turkmenistan','Turks and Caicos Islands','Tuvalu','Uganda','Ukraine','United Arab Emirates','United Kingdom','United State','United States Minor Outlying Islands','Uruguay','Uzbekistan','Vanuatu','Venezuela, Bolivarian Republic of','Vietnam','Virgin Islands, British','Virgin Islands, U.S.','Wallis and Futuna','Western Sahara','Yemen','Zambia','Zimbabwe'
                            ],{ prompt:'Select Contry' }, { class: 'my-form-control malimatch-select-height' }%>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mt-2">
                  <br />
                  <%= f.select :region,  ['Australian Capital Territory','New South Wales','Northern Territory','Queenslan','South Australia','Tasmania','Victoria','Western Australia'],{ prompt:'Select Region' }, { class: 'my-form-control malimatch-select-height' }%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :Marital_status%>
                <br />
                <%= f.select :status,  ['Never Married', 'Divorced', 'Widowed', 'Annulled'],{ prompt:'Select your Marital Status' }, { class: 'my-form-control malimatch-select-height' }%>
            </div>
            <div class="form-group">
              <%= f.label :Do_you_have_children?%>
                
                <div class="row">
                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :children, 'NO', class:'malimatch-gender-checkbox' %> NO </div>
                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :children, 'YES', class:'malimatch-gender-checkbox' %> YES </div>
                 
                </div>
            </div>
            <div class="form-group">
              
              <h4 class="content-title">Ethnic Origin</h4>
              <%= f.label :Are_you_multi_ethnic?%>
                
                <div class="row">
                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :ethnic, 'NO', class:'malimatch-gender-checkbox' %> NO </div>
                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :ethnic, 'YES', class:'malimatch-gender-checkbox' %> YES </div>
                  
                </div>
            </div>
            <div class="form-group">
              <%= f.select :ethnicity,  ['Somali'],{ prompt:'Select your ethnicity' }, { class: 'my-form-control malimatch-select-height' }%>
            </div>
            <div class="form-group">
              
              <label for="">Nationality / Citizenship</label>
              <p>Your nationality is your relationship with a particular state or country. You'll be able to easily discover this if you think of your passport or other form of identification.</p>
              <%= f.select :nationality,  ['Afghan',
                                 'Albanian',
                                  'Algerian',
                                  'American',
                                  'Andorran',
                                  'Angolan',
                                  'Antiguans',
                                  'Argentinean',
                                  'Armenian',
                                  'Australian',
                                  'Austrian',
                                  'Azerbaijani',
                                  'Bahamian',
                                  'Bahraini',
                                  'Bangladeshi',
                                  'Barbadian',
                                  'Barbudans',
                                  'Batswana',
                                  'Belarusian',
                                  'Belgian',
                                  'Belizean',
                                  'Beninese',
                                  'Bhutanese',
                                  'Bolivian',
                                  'Bosnian',
                                  'Brazilian',
                                  'British',
                                  'Bruneian',
                                  'Bulgarian',
                                  'Burkinabe',
                                  'Burmese',
                                  'Burundian',
                                  'Cambodian',
                                  'Cameroonian',
                                  'Canadian',
                                  'Cape Verdean',
                                  'Central African',
                                  'Chadian',
                                  'Chilean',
                                  'Chinese',
                                  'Colombian',
                                  'Comoran',
                                  'Congolese',
                                  'Costa Rican',
                                  'Croatian',
                                    'Cuban',
                                  'Cypriot',
                                    'Czech',
                                  'Danish',
                                  'Djibouti',
                                  'Dominican',
                                    'Dutch',
                                  'East Timorese',
                                  'Ecuadorean',
                                  'Egyptian',
                                  'Emirian',
                                  'Equatorial Guinean',
                                  'Eritrean',
                                  'Estonian',
                                  'Ethiopian',
                                  'Fijian',
                                  'Filipino',
                                  'Finnish',
                                  'French',
                                  'Gabonese',
                                  'Gambian',
                                  'Georgian',
                                  'German',
                                  'Ghanaian',
                                    'Greek',
                                  'Grenadian',
                                  'Guatemalan',
                                  'Guinea-Bissauan',
                                  'Guinean',
                                  'Guyanese',
                                  'Haitian',
                                  'Herzegovinian',
                                  'Honduran',
                                  'Hungarian',
                                  'Icelander',
                                  'Indian',
                                  'Indonesian',
                                  'Iranian',
                                    'Iraqi',
                                    'Irish',
                                  'Italian',
                                  'Ivorian',
                                  'Jamaican',
                                  'Japanese',
                                  'Jordanian',
                                  'Kazakhstani',
                                  'Kenyan',
                                  'Kittian and Nevisian',
                                  'Kurdish',
                                  'Kuwaiti',
                                  'Kyrgyz',
                                  'Laotian',
                                  'Latvian',
                                  'Lebanese',
                                  'Liberian',
                                  'Libyan',
                                  'Liechtensteiner',
                                  'Lithuanian',
                                  'Luxembourger',
                                  'Macedonian',
                                  'Malagasy',
                                  'Malawian',
                                  'Malaysian',
                                  'Maldivan',
                                  'Malian',
                                    'Maltese',
                                  'Marshallese',
                                  'Mauritanian',
                                  'Mauritian',
                                  'Mexican',
                                  'Micronesian',
                                  'Moldovan',
                                    'Monacan',
                                  'Mongolian',
                                    'Moroccan',
                                  'Mosotho',
                                  'Motswana',
                                  'Mozambican',
                                  'Namibian',
                                  'Nauruan',
                                  'Nepalese',
                                  'New Zealander',
                                  'Ni-Vanuatu',
                                  'Nicaraguan',
                                  'Nigerien',
                                  'Nigerian',
                                  'North Korean',
                                  'Northern Irish',
                                  'Norwegian',
                                    'Omani',
                                  'Pakistani',
                                  'Palauan',
                                  'Palestinian',
                                  'Panamanian',
                                  'Papua New Guinean',
                                  'Paraguayan',
                                  'Peruvian',
                                  'Polish',
                                  'Portuguese',
                                  'Qatari',
                                  'Romanian',
                                  'Russian',
                                  'Rwandan',
                                  'Saint Lucian',
                                  'Salvadoran',
                                  'Samoan',
                                  'San Marinese',
                                  'Sao Tomean',
                                    'Saudi',
                                  'Scottish',
                                  'Senegalese',
                                  'Serbian',
                                  'Seychellois',
                                  'Sierra Leonean',
                                  'Singaporean',
                                  'Slovakian',
                                  'Slovenian',
                                  'Solomon Islander',
                                  'Somali',
                                  'South African',
                                    'South Korean',
                                  'Spanish',
                                   'Sri Lankan',
                                  'Sudanese',
                                  'Surinamer',
                                    'Swazi',
                                  'Swedish',
                                    'Swiss',
                                  'Syrian',
                                  'Taiwanese',
                                    'Tajik',
                                  'Tanzanian',                                'Thai',
                                  'Togolese',
                                  'Tongan',
                                  'Trinidadian or Tobagonian',
                                  'Tunisian',
                                  'Turkish',
                                  'Tuvaluan',
                                  'Ugandan',
                                  'Ukrainian',
                                  'Uruguayan',
                                  'Uzbekistani',
                                  'Venezuelan',
                                  'Vietnamese',
                                    'Welsh',
                                  'Yemeni',
                                  'Zambian',
                                  'Zimbabwean',],{ prompt:'Select Nationality' }, { class: 'my-form-control malimatch-select-height' }%>
            </div>
            <div class="form-group">
              <%= f.label :Height %>
                <br />
                <%= f.select :height,  ['4 feet 9 inches', '4 feet 10 inches', '4 feet 11 inches', '5 feet 0 inches','5 feet 1 inches','5 feet 2 inches' ,'5 feet 3 inches','4 feet 5 inches','5 feet 6 inches','5 feet 7 inches','5 feet 8 inches','5 feet 9 inches','5 feet 10 inches','5 feet 11 inches','6 feet 0 inches','6 feet 1 inches','6 feet 2 inches','6 feet 3 inches','6 feet 4 inches','6 feet 5 inches','6 feet 6 inches','6 feet 7 inches','6 feet 8 inches'],{ prompt:'Select Your Height' }, { class: 'my-form-control malimatch-select-height' }%>
            </div>
            <div class="form-group">
              <%= f.label :Weight %>
                <br />
                <%= f.select :weight,  ['31 - 35kg', '36 - 40kg','41 - 45kg','46 - 50kg','51 - 55kg','56 - 60kg','61 - 65kg','66 - 70kg','71 - 75kg','76 - 80kg','81 - 85kg','86 - 90kg','91 - 95kg','96 - 100kg','101 - 105kg','106 - 110kg','111 - 115kg','116 - 120kg','121 - 125kg','125kg or more'],{ prompt:'Select Your Weight Range' }, { class: 'my-form-control malimatch-select-height' }%>
            </div>
            <div class="form-group">
              <%= f.label :Build %>
                <br />
                <%= f.select :build,  ['Skinny', 'Lean (high muscle)', 'Well proportioned','Hourglass figur','Pear-shaped figure','Curvy','Thick','Slim','Average','Sporty','Muscular','Stocky','Bulking','Few extra pounds','Chubby','Heavyset'],{ prompt:'Select Your Build' }, { class: 'my-form-control malimatch-select-height' }%>
            </div>
            <div class="form-group">
              <%= f.label :Apperance %>
                <br />
                <%= f.select :facial,  ['Standout', 'Very Attractive', 'Attractive', 'Fairly Attractive','Above Average','Average / Regular','Fair / Okay','Plain'],{ prompt:'Select Your Best Describe Facial Apperance' }, { class: 'my-form-control malimatch-select-height' }%>
            </div>
            <div class="form-group">
              <h4 class="content-title">Ethnic Origin</h4>
              <%= f.label :Are_you_a_revent?%>
                
                <div class="row">
                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :revent, 'NO', class:'malimatch-gender-checkbox' %> NO </div>
                  <div class="col-lg-2 malimatch-gender-block">
                    <%= f.radio_button :revent, 'YES', class:'malimatch-gender-checkbox' %> YES </div>
                 
                </div>
                <div class="form-group">
                  <%= f.label :When_did_you_start_practicing? %>
                    <br />
                    <%= f.date_field :practice, autofocus: true, autocomplete: "date", class:'my-form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :Pattern_of_salah %>
                    <br />
                    <%= f.select :pattern,  ['Always-5 pray my 5 prayers always', 'Almost always - I always pray 5 times a day but slip up on rare occasions', 'Sometimes - Pray when I can / When I feel like it / When my iman is high','Regularly - I usually pray most of my prayers, maybe miss Fajr sometimes if tired','Sometimes - Pray when I can / When I feel like it / When my iman is high','Rarely - Maybe Jumu ah / Eid Salah / During Ramadan','Never / One-offs' ], { prompt:'Select Your Pattern of Salah ' }, { class: 'my-form-control malimatch-select-height' }%>
                </div>
                <div class="form-group">
                  <div class="content">
                  <%= f.label :Self_summary %>
                    <br />
                    <%= f.text_area :summary, autofocus: true, autocomplete: "summary",size: '50x5', class:'my-form-control malimatch-textarea-height' %>
                    </div>
                </div>
                <div class="form-group">
                  <%= f.label :Educational_work %>
                    <br />
                    <%= f.text_area :education, autofocus: true, autocomplete: "education",size: '50x5', class:'my-form-control malimatch-textarea-height' %>
                </div>
                <div class="form-group">
                  <%= f.label :sect %>
                    <br />
                    <%= f.select :sect,  ['Salafi','Sunni','Ahlul Hadith','Just Muslim','Shia','Barelwi','Deobandi'], { prompt:'Select your best described group / sect / methodology' }, { class: 'my-form-control malimatch-select-height' }%>
                </div>
                <div class="my-input-box">
                  <%= f.label :Scholars_taken_from_or_speakers_listened_to %>
                    <br />
                    <%= f.text_area :scholar, autofocus: true, autocomplete: "scholar",size: '50x5', class:'my-form-control malimatch-textarea-height' %>
                </div>
                <div class="form-group">
                  <%= f.label :Dressing_covering %>
                    <br />
                    <%= f.text_area :dressing, autofocus: true, autocomplete: "dressing",size: '50x5', class:'my-form-control malimatch-textarea-height' %>
                </div>
                <div class="form-group">
                  <%= f.label :Islamic_practice %>
                    <br />
                    <%= f.text_area :islamic, autofocus: true, autocomplete: "islamic",size: '50x5', class:'my-form-control malimatch-textarea-height' %>
                </div>
                <div class="form-group">
                  <%= f.label :My_hobbies %>,
                    <%= f.label :family_lifestyle %>,
                      <%= f.label :interests_and_skills %>
                        <br />
                        <%= f.text_area :hobby, autofocus: true, autocomplete: "hobby",size: '50x5', class:'my-form-control malimatch-textarea-height' %>
                </div>
                
                  <h4 class="content-title">Open to:</h4>
                <div class="row">
                  <div class="col-lg-2">
                    <%=f.label :reverts %>
                  </div>
                  <div class="col-lg-2">
                    <%= f.check_box :revert, {:class => "input malimatch-gender-checkbox"}, "revert" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <%=f.label :Devorcees %>
                  </div>
                  <div class="col-lg-2">
                    <%= f.check_box :devorcees, {:class => "input malimatch-gender-checkbox"}, "devorces" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <%=f.label :Widows %>
                  </div>
                  <div class="col-lg-2">
                    <%= f.check_box :widows, {:class => "input malimatch-gender-checkbox"}, "widows" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <%=f.label :parents %>
                  </div>
                  <div class="col-lg-2">
                    <%= f.check_box :parents, {:class => "input malimatch-gender-checkbox"}, "parents" %>
                  </div>
                </div>
                <div class="actions">
                  <%= f.submit "Save Changes", class:'custom-button ' %>
                
                </div>
                <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

