<style type="text/css">
	  * {box-sizing: border-box;}

	  /* Full-width input fields */
	    .input {
	    width: 100%;
	    padding: 12px;
	    margin: 5px 0 22px 0;
	    display: inline-block;
	    border: none;
	    background: #f1f1f1;
	  }

	  .input:focus {
	    background-color: #ddd;
	    outline: none;
	  }

	  hr {
	    border: 2px solid #f1f1f1;
	    margin-bottom: 25px;
	  }

	  /* Set a style for all buttons */
	  .signup-btn{
	        width: 100%;
	        height: 45px;
	        background-color: #00BFFF;
	        color: white;
	        justify-content: center;
	        align-content: center;
	        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
	        border-radius: 5px;
	        font-size: 18px;
	        font-weight: bold;
	        border: none;
	      }
	     .signup-btn:hover{
	        width: 100%;
	        height: 45px;
	        background-color: white;
	        color: #00BFFF;
	        justify-content: center;
	        align-content: center;
	        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
	        border-radius: 5px;
	        font-size: 18px;
	        font-weight: bold;
	        border: 2px solid #00BFFF;
	        /*outline-color: #00BFFF;*/
	      } 

	 
	</style>
	<style>
	body {
	  margin: 0;
	  font-family: "Lato", sans-serif;
	}

	
	
	     .block {
	       width: 100%;
	       height: fit-content;
	       border-radius: 10px ;
	       /*padding: 40px;*/
	       color: #595959; 
	       justify-content: center;
	       align-content: center;
	       -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
	   box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
	   padding: 10px;

	     }
	
</style>
<div class="row justify-content-center align-content-center  block">
      <div class="col-lg-10">
        <h1>Edit Profile</h1>
        <p>This form will be completely visible excluding your first name, surname and date of birth.</p>
        <%= form_with  do |f| %>
          
          <div class="field">
            <%= f.label :First_name %><br />
            <%= f.text_field :fname, autofocus: true,placeholder:"Enter First Name", autocomplete: "name", class:'input' %>
          </div>
          <div class="field">
            <%= f.label :Surname %><br />
            <%= f.text_field :surname, autofocus: true,placeholder:"Enter Surname", autocomplete: "phone", class:'input' %>
          </div>
          <div class="field">
            <%= f.label :Date_of_birth %><br />
            <%= f.date_field :date, autofocus: true, autocomplete: "date", class:'input' %>
          </div>
          <!-- <input type="date" id="birthday" name="birthday" -->
          <div class="field">
          <%= f.label :Marital_status%><br />
          <%= f.select :status, ['Naver Married', 'Devorced', 'Widowed', 'Annulled'],{ prompt:'Select your Status' }, { class: 'input' }%>

        </div>
        <div class="field">
            <%= f.label :Do_you_have_children%><br /><br />
            <div class="row">
            	<div class="col-lg-2">
            		<%= f.radio_button :children, 'NO' %> NO
            	</div>
            	<div class="col-lg-2">
            		<%= f.radio_button :children, 'YES' %> YES
            	</div><br /><br />
            </div>
           
        </div>
        

        <div class="field">
        	<h5>Ethnic Origin</h5>
            <%= f.label :Are_you_multi_ethnic%><br /><br />
            <div class="row">
            	<div class="col-lg-2">
            		<%= f.radio_button :ethnic, 'NO' %> NO
            	</div>
            	<div class="col-lg-2">
            		<%= f.radio_button :ethnic, 'YES' %> YES
            	</div><br /><br />
            </div>
           
        </div>
        <div class="field">
         
          <%= f.select :ethnicity, ['Australian', 'Afghan', 'Albanian'],{ prompt:'Select Nationality' }, { class: 'input' }%>

        </div>
        <div class="field">
         <h5>Nationality / Citizenship</h5>
         <p>Your nationality is your relationship with a particular state or country. You'll be able to easily discover this if you think of your passport or other form of identification.</p>
          <%= f.select :nationality, ['Austra', 'Afghanistan', 'Albanian'],{ prompt:'Select Nationality' }, { class: 'input' }%>

        </div>
      	
      	<div class="field">
      	 <%= f.label :Weight %><br />
      	  <%= f.select :weight, ['31 - 35kg', '36 - 40kg',],{ prompt:'Select Your Weight Range' }, { class: 'input' }%>

      	</div>
      	<div class="field">
      	 <%= f.label :Height %><br />
      	  <%= f.select :height, ['4 Feet 9 inches', '4 Feet 10', '4 Feet 11 inches', '5 Feet 0 inches', '5 Feet 1 inches', '5 Feet 2 inches', '5 Feet 3 inches'],{ prompt:'Select Your Height' }, { class: 'input' }%>

      	</div>
      	 <%= f.label :Build %><br />
      	  <%= f.select :build, ['Slim', 'Average', 'Slim'],{ prompt:'Select Your Weight Range' }, { class: 'input' }%>

      	</div>
      

          <div class="actions">
            <%= f.submit "Sign up", class:'signup-btn ' %>
          </div>
        <% end %>

        

      </div>
    </div>