<!-- ==========Header-Section========== -->
<style type="text/css">
   /* .malimatch-logo{
    width: 80px;
    height: 50px;
}*/
.malimatch-logo{
    width: 100%;
    height: 100%;
}
.menu a{
    text-decoration: none!important;
}

</style>

<header class="header-section header-section-home2">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="#">
                   
                    <%= link_to image_tag("salam-match-logo-removebg-preview.png", class:'malimatch-logo'), root_path %>
                </a>
            </div>
            <ul class="menu">
                <li>
                    <%= link_to 'Home', root_path, class:'active' %>
                </li>
                <li>
                    <%= link_to 'About Us',  home_about_path, class:'' %>
                </li>
                <li>
                    <%= link_to 'Membership',  home_membership_path, class:'' %>
                </li>
                <% if user_signed_in? %>
                    <%if current_user.email == 'admin@gmail.com' || current_user.email == 'abdiaziz.warsame9@gmail.com' || current_user.email == 'malismatch@gmail.com' || current_user.email == 'sis@gmail.com'%>
                        <li>
                            <%= link_to 'Admin Panel', admin_index_path%>  
                        </li>
                    <%end%>
                    <li>
                        <%= link_to 'Dashboard',  dashboard_index_path, class:'' %>
                    </li>s
                <% end %>
                

                <li class="user-profile">
                    <%= link_to image_tag("user-demo.png"), 'javascript:void(0);' %>
                    
                    <ul class="submenu" >
                        <% if user_signed_in? %>
                            <li class="nav-item">
                                <%= link_to 'logout',  destroy_user_session_path, method: :delete %>
                            </li>
                            <li class="nav-item">
                                 <%= link_to 'My Profile',  myprofile_index_path, class:'' %>
                            </li>
                        <% else %>
                             <li >
                                <%= link_to 'Login',  new_user_session_path, class:'' %>
                            </li>
                            <li >
                                <%= link_to 'Sign Up',  new_user_registration_path, class:'' %>
                            </li>
                        <% end %>

                    </ul>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">

    //Faq
        $('.faq-wrapper .faq-title').on('click', function (e) {
            var element = $(this).parent('.faq-item');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('.faq-content').removeClass('open');
                element.find('.faq-content').slideUp(300, "swing");
            } else {
                element.addClass('open');
                element.children('.faq-content').slideDown(300, "swing");
                element.siblings('.faq-item').children('.faq-content').slideUp(300, "swing");
                element.siblings('.faq-item').removeClass('open');
                element.siblings('.faq-item').find('.faq-title, .faq-title-two').removeClass('open');
                element.siblings('.faq-item').find('.faq-content').slideUp(300, "swing");
            }
        });
    //MenuBar
        $('.header-bar').on('click', function () {
            $(".menu").toggleClass("active");
            $(".header-bar").toggleClass("active");
            $('.overlay').toggleClass('active');
        });
        $('.overlay').on('click', function () {
            $(".menu").removeClass("active");
            $(".header-bar").removeClass("active");
            $('.overlay').removeClass('active');
        });
        
        //Menu Dropdown Icon Adding
        $("ul>li>.submenu").parent("li").addClass("menu-item-has-children");
        // drop down menu width overflow problem fix
        $('ul').parent('li').hover(function () {
            var menu = $(this).find("ul");
            var menupos = $(menu).offset();
            if (menupos.left + menu.width() > $(window).width()) {
                var newpos = -$(menu).width();
                menu.css({
                    left: newpos
                });
            }
        });
        $('.menu li a').on('click', function (e) {
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('li').removeClass('open');
                element.find('ul').slideUp(300, "swing");
            } else {
                element.addClass('open');
                element.children('ul').slideDown(300, "swing");
                element.siblings('li').children('ul').slideUp(300, "swing");
                element.siblings('li').removeClass('open');
                element.siblings('li').find('li').removeClass('open');
                element.siblings('li').find('ul').slideUp(300, "swing");
            }
        })





        // Scroll To Top
        var scrollTop = $(".scrollToTop");
        $(window).on('scroll', function () {
            if ($(this).scrollTop() < 500) {
                scrollTop.removeClass("active");
            } else {
                scrollTop.addClass("active");
            }
        });
        
        //Click event to scroll to top
        $('.scrollToTop').on('click', function () {
            $('html, body').animate({
                scrollTop: 0
            }, 500);
            return false;
        });
        // Header Sticky Here
        var headerOne = $(".header-section");
        if ($(this).scrollTop() < 1) {
            headerOne.removeClass("header-active");
        } else {
            headerOne.addClass("header-active");
        }
        $(window).on('scroll', function () {
            if ($(this).scrollTop() < 1) {
                headerOne.removeClass("header-active");
            } else {
                headerOne.addClass("header-active");
            }
        });
</script>