
    <div class="search-overlay">
        <div class="close"><i class="fas fa-times"></i></div>
        <form action="#">
            <input type="text"  placeholder="Write what you want..">
        </form>
    </div>
    <!-- ==========Header-Section========== -->

    <!-- ==========Breadcrumb-Section========== -->
    <section class="breadcrumb-area profile-bc-area">
        <div class="container">
            <div class="content">
                <h2 class="title">about us</h2>
                <ul class="breadcrumb-list">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        about us
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Breadcrumb-Section========== -->

    <!-- ==========Start-Flirting-Section========== -->
    <section class="flirting-section about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="img">
                        <!-- <img src="assets/images/about/about-page-left.html.png" alt=""> -->
                        <%= link_to image_tag("about-page-left.html.png"), root_path %>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title">
                                Get to Know More
                            </h6>
                            <h2 class="title">
                                About us
                            </h2>
                            <p>
                                We are here to build emotion, connect people and create happy stories.Online dating sites are the way to go for people seeking love or to meet singles while they don’t know where to find them. There are lots of online dating sites available which makes it .
                            </p>
                            <br>
                            <p class="mb-0">
                                As a result, the customer service desk recommends that 
                                customers should consider contacting them via their website. We realize that it’s not a simple task to understand what options you have when it comes to contact with their help desk. We, 
                                therefore, find it helpful if we share some of our research work with you.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Start-Flirting-Section========== -->

    <!-- ========== w-c-u Section Starts ========== -->
    <section class="w-c-u-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title">
                                How We’re different
                            </h6>
                            <h2 class="title extra-padding">
                                Why Choose Us?
                            </h2>
                            <p class="text">
                                There are lots of online dating sites available which makes it difficult
                                to choose the one which can give you a serious partner.... 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-w-c-u-box">
                        <div class="icon">
                            <!-- <img src="assets/images/e-c-u/icon1.png" alt="" -->>
                            <%= link_to image_tag("icon1.png"), root_path %>
                        </div>
                        <h4 class="title">
                            Dating
                        </h4>
                        <p>
                            Dating - Where two people who are attracted to each other spend time together.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-w-c-u-box">
                        <div class="icon">
                            <!-- <img src="assets/images/e-c-u/icon2.png" alt=""> 
                            -->
                            <%= link_to image_tag("icon2.png"), root_path %>
                        </div>
                        <h4 class="title">
                            Great Advices
                        </h4>
                        <p>
                            Dating - Where two people who are attracted to each other spend time together.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-w-c-u-box">
                        <div class="icon">
                            <!-- <img src="assets/images/e-c-u/icon3.png" alt=""> -->
                            <%= link_to image_tag("icon3.png"), root_path %>
                        </div>
                        <h4 class="title">
                            24/7Support
                        </h4>
                        <p>
                            Dating - Where two people who are attracted to each other spend time together.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-w-c-u-box">
                        <div class="icon">
                            <!-- <img src="assets/images/e-c-u/icon4.png" alt=""> -->
                            <%= link_to image_tag("icon4.png"), root_path %>
                        </div>
                        <h4 class="title">
                            Relationship
                        </h4>
                        <p>
                            Dating - Where two people who are attracted to each other spend time together.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========  w-c-u Section Starts ========== -->

    
    <!-- ==========Features-Section========== -->
    <%= render 'home/featured_section'%>
    <!-- ==========Features-Section========== -->

    <!-- ==========Join-now-Section========== -->
    <%= render 'home/join_now_section'%>
    <!-- ==========Join-now-Section========== -->

    <!-- ==========Community-Section========== -->
    <%= render 'home/community_section'%>
    <!-- ==========Community-Sectionn========== -->
