
 
   <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->

   
    <!-- ==========Banner-Section========== -->
    <section class="banner-section home2">
        <!-- <img class="img3" src="assets/images/banner/aimg3.png" alt=""> -->
        <%#= link_to image_tag("aimg3.png", class:"img3"), root_path %>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <h1 class="main-title wow fadeInLeft">
                        Mali Match
                        
                    </h1>
                    <h4 style="color: white; font-weight:bolder; text-align: center; font-size: 30px;">Making Marriage Easy</h4>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="join-now-box wow fadeInUp " style="display:none ;">
                        <div class="single-option">
                            <p class="title">
                                I am a :
                            </p>
                            <div class="option">
                                <div class="s-input mr-3">
                                    <input type="radio" name="gender" id="male"><label for="male">Male</label>
                                </div>
                                <div class="s-input">
                                    <input type="radio" name="gender" id="female"><label for="female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="single-option gender">
                            <p class="title">
                                Seeking a :
                            </p>
                            <div class="option">
                                <div class="s-input mr-4">
                                    <input type="radio" name="seeking" id="males"><label for="males">Man</label>
                                </div>
                                <div class="s-input">
                                    <input type="radio" name="seeking" id="females"><label for="females">Woman</label>
                                </div>
                            </div>
                        </div>
                        <div class="single-option age">
                            <p class="title">
                               Ages :
                            </p>
                            <div class="option">
                                <div class="s-input mr-3">
                                    <select class="select-bar">
                                        <option value="">18</option>
                                        <option value="">20</option>
                                        <option value="">24</option>
                                    </select>
                                </div>
                                <div class="separator">
                                    -
                                </div>
                                <div class="s-input ml-3">
                                    <select class="select-bar">
                                        <option value="">30</option>
                                        <option value="">35</option>
                                        <option value="">40</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="single-option last">
                            <p class="title">
                               Country :
                            </p>
                            <div class="option">
                                <div class="s-input mr-3">
                                    <select class="select-bar">
                                        <option >Select Country</option>
                                        <option value="">India</option>
                                        <option value="">Japan</option>
                                        <option value="">England</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="joun-button">
                            <button class="custom-button">Join Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->

    <!-- ==========Steps-Section========== -->
    <div class="steps-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="steps-section-inner wow fadeInUp">
                        <div class="myCol1">
                            <h4 class="title">
                                3 EASY STEPS
                            </h4>
                            <p class="text">
                                To Find a Serious
                                Match
                            </p>
                        </div>
                        <div class="myCol2">
                            <ul class="steps-list">
                                <li>
                                    <div class="number">
                                        1
                                    </div>
                                    <p class="label">
                                        Join
                                    </p>
                                </li>
                                <li>
                                    <div class="number">
                                        2
                                    </div>
                                    <p class="label">
                                        Search
                                    </p>
                                </li>
                                <li>
                                    <div class="number">
                                       3
                                    </div>
                                    <p class="label">
                                        Find Match
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="myCol3">
                            <!-- <a href="#" class="custom-button">Join Now!</a> -->
                            <%= link_to 'Join Now', new_user_session_path, class:'custom-button'%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==========Steps-Section========== -->


    <!-- ==========Start-Flirting-Section========== -->
    <section class="flirting-section home2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title extra-padding wow fadeInUp">
                                Find a Potential Today!
                            </h6>
                            <h2 class="title extra-padding wow fadeInUp">
                                Start Searching
                            </h2>
                            <p>
                                My MaliMatch makes finding a potential easy just search through the many profiles on our database request the ones that interest you the most and if you get a match then you can move on to the next step of setting up communications with the Wali.
                            </p>
                            <br>
                            
                        </div>
                        
                        <% if user_signed_in? %>
                            <li>
                                <%= link_to 'Find The One Today', profiles_index_path, class:'custom-button'%>  
                            </li>
                        <% else %>
                             <%= link_to 'Find The One Today', new_user_registration_path, class:'custom-button'%>

                        <% end %>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="img ">
                        <!-- <img class="bg-shape" src="assets/images/flirting/circle.png" alt=""> -->
                        <%#= link_to image_tag("circle.png", class:"bg-shape"), root_path %>
                        <%#= link_to image_tag("illutration-change.png", class:'illutration-change'), root_path %>
                        <!-- <img src="assets/images/flirting/illutration.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Start-Flirting-Section========== -->


    <!-- ==========Features-Section========== -->
    <%= render 'home/featured_section'%>
    <!-- ==========Features-Section========== -->

    <!-- ==========Join-now-Section========== -->
    <%= render 'home/join_now_section'%>
    <!-- ==========Join-now-Section========== -->
<br><br>
    <!-- ==========Community-Section========== -->
    <%#= render 'home/community_section'%>
    <!-- ==========Community-Sectionn========== -->


    



    <!-- ==========Update-profile-Section========== -->
    <section class="update-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self-center">
                    <div class="content">
                        <div class="section-header">
                            <h6 class="sub-title extra-padding wow fadeInUp">
                                Upgrade Your Profile
                            </h6>
                            <h2 class="title extra-padding wow fadeInUp">
                                Membership Plan
                            </h2>
                            <p>
                                Our monthly membership allows you to access our entire database and gives you 3 requests!
                            </p>
                        </div>
                        
                        <!-- <a href="#" class="custom-button">Membership details</a> -->
                        <%= link_to 'Membership details', home_membership_path, class:"custom-button" %>

                    </div>
                </div>
                <div class="col-lg-7 align-self-center">
                    <div class="img-right">
                        <!-- <img src="assets/images/up-profile/right-img.png" alt=""> -->
                        <%#= link_to image_tag("right-img.png"), root_path %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Update-profile-Section========== -->


 