


  <!-- ========== Login & Registation Section ========== -->
  <section class="log-reg">
    <div class="top-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <span style="display: flex; gap:5px; align-items: center;">
              <i class="fas fa-chevron-left"></i> 
            <%= link_to 'Back to mali match', root_path, class:'backto-home' %>
            </span>
          </div>
          <div class="col-lg-7 ">
            <div class="logo">
              <%= link_to image_tag('logo.png', style:'width:50px; height:50px'), root_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="image image-log">
        </div>
        <div class="col-lg-7">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <div class="log-reg-inner">
            <div class="section-header">
              <h2 class="title">
                Welcome to MALI MATCH
              </h2>
            </div>
            <div class="main-content inloginp">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          
                <div class="form-group">
                  <label for="">Your Address</label>
            <%= f.email_field :email, autofocus: true, placeholder:"Enter Email", autocomplete: "email", class:'my-form-control' %>
                  <!-- <input type="email" class="my-form-control" placeholder="Enter Your Email"> -->
                </div>

                

                <div class="form-group">
                  <label for="">Password</label>
                  <%= f.password_field :password, autocomplete: "current-password",placeholder:"Enter Password", class:'my-form-control' %>
                  <!-- <input type="text" class="my-form-control" placeholder="Enter Your Password"> -->
                </div>
                <p class="f-pass">
                  Forgot your password? <%= link_to 'recover password', new_user_password_path %> 
                </p>
                <% if devise_mapping.rememberable? %>
                  <div style="display: flex; align-items:center; gap:5px; margin-bottom: -20px;" >
                    
                    <%= f.check_box :remember_me, style:'height: 15px; width: 15px; margin-top:-5px' %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
                <div class="button-wrapper">
                  <!-- <button type="submit" class="custom-button">Sign IN</button> -->
                  <%= f.submit "Sign In", class:'custom-button ' %>
                </div>
                <% end %>
                <div class="or">
                  <p>OR</p> 
                </div>
                <div class="or-content">
                  
                  <p class="or-signup">
                    Don't have an account? <%= link_to 'Sign up here', new_user_registration_path %> 
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== Login & Registation Section ========== -->



